#version{font-size: 13px;}

.barLogout{ transform: scaleX(-1); padding-left: 2px; }

ion-icon#barClose.md.hydrated{ margin-inline-end: 0px; }

ion-title#userName.md.title-default.hydrated{ text-align: center; }

.input-wrapper{ --padding-start: 2px; }


/* 
.bg{
  background: url('src/img/bg1.jpg') no-repeat 52% center/cover;
} */

/* CARD */

/* ion-card-header{
    padding: 0px 16px 16px 16px;
    height: 48px;
    transition-duration: .8s;
    transition-delay: .05s;
} */


.ionCardHeader{
    padding: 0px 16px 16px 16px;
    height: 48px;
    /* transition-duration: .8s; */
    transition-delay: .05s;
}

.cardExpand:hover{
    height: 130px;
    /* transition-duration: .4s; */
    transition-delay: .05s;
    overflow: auto;
}

.btnExpandCard{
    height: 130px;
    /* transition-duration: .4s; */
    overflow: auto;
}

.cardExpand::-webkit-scrollbar-thumb {
    background: var(--ion-color-primary);
}

.nowrap{
    padding: 16px 0px 8px 0px;
    font-size: 1em;
    font-weight: 600;
    white-space: nowrap;
    margin: 0px 0px 0px 0px;
}

